@use "themes/light" as theme;

.header {
    position: fixed;
    top: 0;
    background-color: theme.$background-color-lighter;
    width: 100%;
    height: theme.$header-height;
    border-bottom: theme.$border-width solid theme.$background-color-darker;
}

.header__wrapper {
    width: theme.$content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;   
    gap: theme.$content-gap;
}

.header__wrapper-right {
    width: max-content;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;   
    gap: theme.$content-gap;
    flex-grow: 1;
}

.header__element {
    height: 100%;
    display: flex;
    align-items: center;
    min-width: 60px;
}

.header__title {
    font-size: theme.$font-h3-size;
    font-weight: 400;
    color: theme.$header-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.header__nav {
    font-size: theme.$font-large-size;
    font-weight: 400;
    color: theme.$header-color;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer {
    background-color: theme.$background-color-lighter;
    width: 100%;
    height: theme.$footer-height;
    border-top: theme.$border-width solid theme.$background-color-darker;
    
}

.footer__wrapper {
    width: theme.$content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;   
    gap: theme.$content-gap;
}

.body-wrapper {
    width: 100%;
    min-height: calc(100vh - theme.$footer-height);
    padding-top: theme.$header-height;
    background-color: theme.$background-color;
}