@charset "utf-8";

@use "themes/light" as theme;
@use "layout" as layout;

html {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit; 
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, "PT Sans", Arial, Helvetica, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    font-weight: 400;
    background-color: theme.$background-color;
    color: theme.$text-color;
}
